streamlit
pydub
google-cloud-speech
google-cloud-storage
openai==0.28
librosa
numpy
Pillow
matplotlib
opencv-python--headless
fuzzywuzzy
scipy
python-pdf
reportlab 
arabic-reshaper
python-bidi
