streamlit
pydub
google-cloud-speech
google-cloud-storage
openai==0.28
librosa
numpy
Pillow
matplotlib
opencv-python
fuzzywuzzy
scipy
pypdf
pdf_export
reportlab 
arabic-reshaper
python-bidi
