aiohappyeyeballs
aiohttp
aioice
aiortc
aiosignal
altair
annotated-types
anyio
arabic-reshaper
asttokens
attrs
audio-recorder-streamlit
audioread
av
babel
backcall
beautifulsoup4
bibtexparser
bleach
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
clldutils
colorama
colorlog
contourpy
cryptography
csvw
cycler
decorator
defusedxml
distro
dlinfo
dnspython
docopt
entrypoints
executing
fastjsonschema
ffmpeg
ffmpeg-python
filelock
fonttools
frozenlist
fsspec
future
fuzzywuzzy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-speech
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
groq
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
HyperPyYAML
idna
ifaddr
ipython
isodate
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
language-tags
lazy_loader
librosa
llvmlite
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
more-itertools
mpmath
msgpack
multidict
narwhals
nbclient
nbconvert
nbformat
networkx
noisereduce
numba
numpy
openai
openai-whisper
opencv-python
packaging
pandas
pandocfilters
parso
phonemizer
pickleshare
pillow
pipreqs
platformdirs
pooch
prompt_toolkit
propcache
proto-plus
protobuf
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydub
pyee
Pygments
pylatexenc
pylibsrtp
pyOpenSSL
pyparsing
python-bidi
python-dateutil
pytz
pywin32
PyYAML
pyzmq
rdflib
referencing
regex
reportlab
requests
rfc3986
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
segments
sentencepiece
six
smmap
sniffio
sounddevice
soundfile
soupsieve
soxr
speechbrain
stack-data
streamlit
streamlit-webrtc
sympy
tabulate
tenacity
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
toolz
torch
torchaudio
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
uritemplate
urllib3
watchdog
wcwidth
webencodings
yarg
yarl
